inputs:
  CriblLogs:
    disabled: false
    type: cribl
    metadata:
      - name: index
        value: '"scrap"'
  CriblMetrics:
    disabled: false
    prefix: cribl.logstream.
    type: criblmetrics
    pipeline: cribl_metrics_rollup
    metadata:
      - name: index
        value: '"scrap-metrics"'
  syslog-1514:
    disabled: false
    host: 0.0.0.0
    maxBufferSize: 1000
    ipWhitelistRegex: /.*/
    timestampTimezone: local
    singleMsgUdpPackets: false
    enableProxyHeader: false
    keepFieldsList: []
    tls:
      disabled: true
    type: syslog
    udpPort: 1514
    tcpPort: 1514
    pipeline: pre-process-syslog
    metadata:
      - name: _time
        value: C.vars.unixtime()
      - name: source
        value: __srcIpPort.split('|')[1]
  splunkTCP:
    disabled: false
    host: 0.0.0.0
    tls:
      disabled: true
      requestCert: false
    ipWhitelistRegex: /.*/
    maxActiveCxn: 1000
    enableProxyHeader: false
    staleChannelFlushMs: 10000
    type: splunk
    port: 9997
  splunkHEC:
    disabled: false
    host: 0.0.0.0
    tls:
      disabled: false
      requestCert: false
      certificateName: cert
      privKeyPath: $CRIBL_HOME/local/cribl/auth/certs/privkey.pem
      certPath: $CRIBL_HOME/local/cribl/auth/certs/cert.pem
    maxActiveReq: 256
    enableProxyHeader: false
    activityLogSampleRate: 100
    splunkHecAPI: /services/collector
    splunkHecAcks: false
    staleChannelFlushMs: 10000
    type: splunk_hec
    authTokens:
      - token: {{ splunkContainerHECToken }}
        metadata:
          - name: index
            value: "'containers'"
          - name: sourcetype
            value: "'syslog'"
    port: 8088