id: default
groups: {}
routes:
  - id: gfh64U
    name: cribl-internal
    final: true
    disabled: false
    pipeline: passthru
    description: ""
    clones: []
    filter: __inputId=='cribl:CriblLogs' || __inputId=='cribl:CriblMetrics'
    output: splunkLab
  - id: laGSG1
    name: syslogPassthrough
    final: true
    disabled: false
    pipeline: passthru
    description: ""
    clones: []
    filter: __inputId.startsWith('syslog:syslog-1514')
    output: splunkLab
  - id: default
    name: default
    final: true
    disabled: false
    pipeline: main
    description: ""
    clones: []
    filter: "true"
    output: default