id: default
groups: {}
routes:
  - id: gfh64U
    name: cribl-internal
    final: true
    disabled: false
    pipeline: passthru
    description: ""
    clones: []
    filter: __inputId=='cribl:CriblLogs' || __inputId=='cribl:CriblMetrics'
    output: splunkDayview
  - id: j4WTke
    name: source=="netmon-pi-dayview"
    final: false
    disabled: false
    pipeline: netmon-pi-dayview
    description: ""
    clones:
      - {}
    filter: "true"
    output: splunkDayview
  - id: laGSG1
    name: syslogPassthrough
    final: true
    disabled: false
    pipeline: passthru
    description: ""
    clones: []
    filter: __inputId.startsWith('syslog:syslog-1514')
    output: splunkDayview
  - id: laGSG2
    name: Container passthru
    final: true
    disabled: false
    pipeline: passthru
    description: ""
    clones: []
    filter: __inputId=='splunk_hec:splunkHEC' && index=='containers'
    output: splunkDayview
  - id: laGSG3
    name: UF passthru
    final: true
    disabled: false
    pipeline: passthru
    description: ""
    clones: []
    filter: __inputId=='splunk:splunkTCP'
    output: splunkDayview
  - id: default
    name: default
    final: true
    disabled: false
    pipeline: main
    description: ""
    clones: []
    filter: "true"
    output: default