# Network inputs
[udp://192.168.71.1:1514]
sourcetype = pfsense
host = pfsense.greentangent.net
source = 192.168.71.1
index = network
no_appending_timestamp = true

[udp://192.168.71.2:1515]
sourcetype = syslog
host = officeswitch.greentangent.net
source = 192.168.71.2
index = network
no_appending_timestamp = true

[udp://192.168.71.201:1516]
sourcetype = syslog
host = synology.greentangent.net
source = 192.168.71.201
index = app
no_appending_timestamp = true

[udp://:1517]
sourcetype = ubnt
host = unifi-controller.greentangent.net
source = 192.168.71.200
index = network 
no_appending_timestamp = true

[monitor:///var/log/pihole/pihole.log]
disabled = 0
index = dns
sourcetype = pihole

[monitor:///opt/streamfwd/var/log/streamfwd.log]
disabled = 0
index = _internal
sourcetype = syslog