[indexAndForward]
index = false

[tcpout:group1]
server = {{ splunkUFDestination }}
useACK = true
useSSL = true
token = {{ splunkUFAuthToken }}
sslVerifyServerCert = false
clientCert = $SPLUNK_HOME/etc/auth/server.pem
sslPassword = password
