api:
  insecure: true

entryPoints:
  web:
    address: ":80"
  websecure:
    address: ":443"
  traefik:
    address: ":8080"

providers:
  docker:
    endpoint: "unix:///var/run/docker.sock"
    exposedByDefault: true
    defaultRule: "Host(`{{ .Name }}.dayview.greentangent.net`)"
  file:
    filename: /opt/external/tlsTraefik.yml
  providersThrottleDuration: 10s

accessLog: {}