[monitor:///Library/Logs]
disabled = 0
index = os

[monitor:///var/log]
disabled = 0
index = os

# Network inputs
[udp://192.168.71.1:1514]
sourcetype = pfsense
host = pfsense.dayview.greentangent.net
source = 192.168.71.1
index = network

[udp://192.168.71.2:1515]
sourcetype = syslog
host = officeswitch.dayview.greentangent.net
source = 192.168.71.2
index = network

[udp://192.168.71.201:1516]
sourcetype = syslog
host = synology.dayview.greentangent.net
source = 192.168.71.201
index = app
