[script:///opt/splunkforwarder/etc/apps/Splunk_TA_nix/bin/vmstat_metric.sh]
disabled = 0
index = os

[script:///opt/splunkforwarder/etc/apps/Splunk_TA_nix/bin/iostat_metric.sh]
disabled = 0
index = os

[script:///opt/splunkforwarder/etc/apps/Splunk_TA_nix/bin/ps_metric.sh]
disabled = 0
index = os

[script:///opt/splunkforwarder/etc/apps/Splunk_TA_nix/bin/df_metric.sh]
disabled = 0
index = os

[script:///opt/splunkforwarder/etc/apps/Splunk_TA_nix/bin/interfaces_metric.sh]
disabled = 0
index = os

[script:///opt/splunkforwarder/etc/apps/Splunk_TA_nix/bin/cpu_metric.sh]
disabled = 0
index = os

[script:///opt/splunkforwarder/etc/apps/Splunk_TA_nix/bin/vmstat.sh]
disabled = 0
index = os

[script:///opt/splunkforwarder/etc/apps/Splunk_TA_nix/bin/iostat.sh]
disabled = 0
index = os

[script:///opt/splunkforwarder/etc/apps/Splunk_TA_nix/bin/nfsiostat.sh]
disabled = 0
index = os

[script:///opt/splunkforwarder/etc/apps/Splunk_TA_nix/bin/ps.sh]
disabled = 0
index = os

[script:///opt/splunkforwarder/etc/apps/Splunk_TA_nix/bin/top.sh]
disabled = 0
index = os

[script:///opt/splunkforwarder/etc/apps/Splunk_TA_nix/bin/netstat.sh]
disabled = 0
index = os

[script:///opt/splunkforwarder/etc/apps/Splunk_TA_nix/bin/bandwidth.sh]
disabled = 0
index = os

[script:///opt/splunkforwarder/etc/apps/Splunk_TA_nix/bin/protocol.sh]
disabled = 0
index = os

[script:///opt/splunkforwarder/etc/apps/Splunk_TA_nix/bin/openPorts.sh]
disabled = 0
index = os

[script:///opt/splunkforwarder/etc/apps/Splunk_TA_nix/bin/time.sh]
disabled = 0
index = os

[script:///opt/splunkforwarder/etc/apps/Splunk_TA_nix/bin/lsof.sh]
disabled = 0
index = os

[script:///opt/splunkforwarder/etc/apps/Splunk_TA_nix/bin/df.sh]
disabled = 0
index = os

[script:///opt/splunkforwarder/etc/apps/Splunk_TA_nix/bin/who.sh]
disabled = 0
index = os

[script:///opt/splunkforwarder/etc/apps/Splunk_TA_nix/bin/usersWithLoginPrivs.sh]
disabled = 0
index = os

[script:///opt/splunkforwarder/etc/apps/Splunk_TA_nix/bin/lastlog.sh]
disabled = 0
index = os

[script:///opt/splunkforwarder/etc/apps/Splunk_TA_nix/bin/interfaces.sh]
disabled = 0
index = os

[script:///opt/splunkforwarder/etc/apps/Splunk_TA_nix/bin/cpu.sh]
disabled = 0
index = os

[script:///opt/splunkforwarder/etc/apps/Splunk_TA_nix/bin/rlog.sh]
disabled = 0
index = os

[script:///opt/splunkforwarder/etc/apps/Splunk_TA_nix/bin/package.sh]
disabled = 0
index = os

[script:///opt/splunkforwarder/etc/apps/Splunk_TA_nix/bin/hardware.sh]
disabled = 0
index = os

[monitor:///Library/Logs]
disabled = 0
index = os

[monitor:///var/log]
disabled = 0
index = os

[monitor:///var/adm]
disabled = 0
index = os

[monitor:///etc]
disabled = 0
index = os

### bash history
[monitor:///root/.bash_history]
disabled = 0
index = os

[monitor:///home/*/.bash_history]
disabled = 0
index = os

[script:///opt/splunkforwarder/etc/apps/Splunk_TA_nix/bin/openPortsEnhanced.sh]
disabled = 0
index = os

[script:///opt/splunkforwarder/etc/apps/Splunk_TA_nix/bin/passwd.sh]
disabled = 0
index = os

[script:///opt/splunkforwarder/etc/apps/Splunk_TA_nix/bin/selinuxChecker.sh]
disabled = 0
index = os

[script:///opt/splunkforwarder/etc/apps/Splunk_TA_nix/bin/service.sh]
disabled = 0
index = os

[script:///opt/splunkforwarder/etc/apps/Splunk_TA_nix/bin/sshdChecker.sh]
disabled = 0
index = os

[script:///opt/splunkforwarder/etc/apps/Splunk_TA_nix/bin/update.sh]
disabled = 0
index = os

[script:///opt/splunkforwarder/etc/apps/Splunk_TA_nix/bin/uptime.sh]
disabled = 0
index = os

[script:///opt/splunkforwarder/etc/apps/Splunk_TA_nix/bin/version.sh]
disabled = 0
index = os

[script:///opt/splunkforwarder/etc/apps/Splunk_TA_nix/bin/vsftpdChecker.sh]
disabled = 0
index = os
