output: default
groups:
  UysTSj:
    name: Set metadata across all events
    description: Apply functions to all events with filter of true
    index: 0
asyncFuncTimeout: 1000
functions:
  - id: eval
    filter: severity || facility || procid || appname
    disabled: null
    conf:
      remove:
        - severity
        - facility
        - procid
        - appname
    description: Remove facility and severity fields
    groupId: UysTSj
  - id: eval
    filter: "true"
    disabled: null
    conf:
      add:
        - name: _raw
          value: message
      remove:
        - message
        - srcIpPort
    description: Clean up message and _raw, and remove srcIpPort
    groupId: UysTSj
  - id: lookup
    filter: "true"
    disabled: null
    conf:
      matchMode: cidr
      matchType: specific
      reloadPeriodSec: 60
      addToEvent: false
      inFields:
        - eventField: source
          lookupField: sourceCIDRRange
      ignoreCase: false
      file: pre-process-syslog.csv
      outFields:
        - lookupField: sourcetype
          eventField: sourcetype
        - lookupField: index
          eventField: index
        - lookupField: host
          eventField: host
    final: true

  - id: eval
    filter: "!index && !sourcetype"
    disabled: null
    conf:
      add:
        - name: index
          value: "'main'"
        - name: source
          value: "source ? source : __inputId"
        - name: source
          value: "sourcetype ? sourcetype : 'syslog'"
    final: true